@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'UTMAvoItalic';
    src: url('../fonts/UTMAvoItalic.ttf');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'UTMAvoBold_Italic';
    src: url('../fonts/UTMAvoBold_Italic.ttf');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'UTMAvoBold';
    src: url('../fonts/UTMAvoBold.ttf');
    font-weight: normal;
    font-style: normal;

}
.clear {
    content:".";
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
}
.padding3 {
    padding-top:3px;
    font-size:0;
    line-height:0;
}
.padding5 {
    padding-top:5px;
    font-size:0;
    line-height:0;
}
.padding10 {
    padding-top:10px!important;
    font-size:0;
    line-height:0;
}
.padding12 {
    padding-top:12px;
    font-size:0;
    line-height:0;
}
.padding15 {
    padding-top:15px;
    font-size:0;
    line-height:0;
}
.padding17 {
    padding-top:17px;
    font-size:0;
    line-height:0;
}
.padding20 {
    padding-top:20px;
    font-size:0;
    line-height:0;
}
.padding25 {
    padding-top:25px;
    font-size:0;
    line-height:0;
}
.padding30 {
    padding-top:30px;
    font-size:0;
    line-height:0;
}
.padding40 {
    padding-top:40px;
    font-size:0;
    line-height:0;
}
.padding50 {
    padding-top:50px!important;
    font-size:0;
    line-height:0;
}
.padding60 {
    padding-top:60px;
    font-size:0;
    line-height:0;
}
.padding80 {
    padding-top:80px;
    font-size:0;
    line-height:0;
}
.none {
    display:none;
}
.line {
    font-size:0px;
    border-top:1px solid #d9d9d9;
}
hr {
    background:transparent;
    border:0;
    clear:both;
    color:transparent;
    height:1px;
    margin:0;
    padding:0
}
hr {
    background: #d9d9d9;
    color: #d9d9d9;
    margin:5px 0 25px 0;
}
hr.dotted {
    border-style: dotted;
}
p + hr {
    margin:25px 0 20px 0;
}
.col_1_2 {
    width:480px;
    float:left;
    margin:0 20px 0 0;
}
.col_2_3 {
    width:600px;
    float:left;
    margin:0 20px 0 0;
}
.col_1_3 {
    width: 330px;
    height:231px;
    float: left;
    margin: 0 4px 0 0;
}
.col_1_2.last, .col_2_3.last, .col_1_3.last, .col_1_4.last, .col_1_5.last, .col_3_4.last, .col_3_4 .col_1_2.last {
border: 0;margin: 0
}