
body{background: url(images/bg.jpg);-webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-size: cover}
ul {
	list-style: none;
	margin-top: 0;
}
a,a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
	font-family: "UTMAvo";
	color: #000;
	font-size:12px;
}
.header_bg {
	min-height: 41px;
	background: #337b2c;
}
.header_bg .container, .header_top .container{
	border-left: 1px solid #edf5ee;
	border-right: 1px solid #edf5ee;
}
.header_top .container{height: 180px;}
.container {
	border-right: 1px solid #b4cf6f;
	border-left: 1px solid #b4cf6f;
	width: 1000.006px;
	padding: 0;
	margin: 0 auto;
	
}
.social-links {
	margin: 0;
	text-align: right;
	padding: 5px 42px 5px 0;
}
.social-links li {
	display: inline;
}
.social-links li:first-child{padding-right: 15px;}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}
.main-menu {
	margin: 33px 42px 0 0;
	float: right;
	background: #a6c738;
	padding: 10px 0;
	border-radius: 10px 10px;
}
.main-menu ul {
	margin: 0;padding: 0 20px;
}
.main-menu > ul > li {
	float: left;
	margin-right: 15px;
}
.main-menu > ul > li:last-child {
	margin-right: 0;
}
.main-menu li {
	white-space: nowrap;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 100;
}
.main-menu a {
	display: block;
	position: relative;
	font-size: 12px;
	font-family: "UTMAvoBold";
	color: #f9f4e1;
}
.main-menu a:hover, .main-menu a.active{color:#000;}
.main-menu li ul {
    display:none;
    position:absolute;
    top:100%;
    z-index:100;
    margin-top: -7px!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
	padding-left: 0;
	width: 100%;
	padding-right: 0;
}
.main-menu li:hover > ul {
    display:block !important;
}
.main-menu li.submenu > a:hover > ul {
    display:block;
}

.main-menu li ul li {
    background:#FFF;
}
.main-menu li ul li a:hover {
    background:#f5f5f5;
    color:#d43a32;
}
.main-menu li ul li:first-child a {padding-top: 8px;}
.main-menu li ul li a {
	white-space: normal;
    padding:0 8px 8px 8px;
    color: #41ad49;
    font-size: 11px;
    font-family: 'UTMAvo';
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* IE10+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */
	;
}
.logo {
	float: left;margin: 10px 0 0 40px;
}
.slide{
	height: 398px;
}
.flexslider{
	background: url(images/bg-slide.png) no-repeat;
	background-color: transparent;
	margin: 0;
	top:-70px;
	border-radius: 0 0;
}
.thumbnail {
	position: relative;
	padding: 0;
	margin: -1px 0 0 0;;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
}
.thumbnail figure {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
}
.thumbnail figure div {
	height: 30px;
	background-color: #9ec038;
	position: absolute;
	bottom: 0;
	padding-top: 5px;
	padding-right: 10px;
	-webkit-transition: all 0.35s ease;
	opacity: .8;
	width: 62%;	
	text-align: right;
}
.thumbnail figure div strong {
	font-size: 12px;
	color: #ffffff;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding-left: 20px;
	text-transform: uppercase;
	font-family: 'UTMAvoItalic';
	font-style: italic;
}
.home-content .container{margin-top: -7px;margin-bottom: -7px;}
.home-content .content{display: table;background-color:rgba(255, 255, 255, .8);border-radius: 10px;}
.home-content .news_images{width:28%;float: left;}
.home-content .news{width: 72%;float:left;}
.border-right{border-right:1px solid #41ad49;}
.home-content .content-left{float:left;width: 65%;padding: 0 15px;margin:20px 0;}
.home-content .content-right{float:left;width:35%;margin: 20px 0 0;}
.home-content .content-right img{margin: 0;}
.home-content .content-right a{text-align: center;}
.home-content .content-right h3{margin-top: -15px;color:#9fc150;font-family: 'UTMAvoBold';font-size: 16px;}
.home-content .content-right .thumbnail{margin: 0 20px 0 20px;}
.content-left h2{color:#9fc150;font-family: 'UTMAvoBold';font-size: 16px;margin: 3px 0 15px 0;}
.content-left h3{color:#000;font-family: 'UTMAvoBold';font-size: 12px;margin: 10px 0 5px 0;}
.content-left p{line-height: 16px;font-family: 'UTMAvoItalic';font-size: 12px;font-style: italic;}
.content-left a{text-align: right;color:#41ad49;}
.content-left .link{text-align: right;}
.footer{background: #337b2c;}
.footer h2{font-size: 18px;color:#fff;font-family: 'UTMAvoBold';margin: 30px 0 15px 30px;}
.footer h3{font-size: 12px;color:#fff;font-family: 'UTMAvoBold';margin: 0;line-height: 16px;}
.footer .content-footer{padding-left: 30px;}
.footer .content-footer .footer-left{float:left;}
.footer .content-footer .footer-left{width: 55%;}
.footer .content-footer .footer-right{width: 45%;float: right;}
.footer .content-footer p{font-family: 'UTMAvo';font-size: 10px;color: #fff;line-height: 16px;margin: 0;}
.footer .copyright{color:#fff;font-family: 'UTMAvo';font-size: 12px;margin-top: 108px;text-align: right;}
.paging{float: left;text-align: right;width: 100%;}
.paging ul{float: right;position: relative;}
.paging .pre{padding-right: 15px;}
.paging .next{padding-left: 15px;}
.paging ul li{list-style: none;width:15px;display: inline-block;}
.paging ul li a{font-style: italic;color: #000;font-family: 'UTMAvo';font-size: 11px;}
.paging ul li.current{font-weight: bold;font-style: italic;font-family: 'UTMAvo';font-size: 11px;}